/*     Base
------------------------------------------------ */

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

/* Variables */
:root {
    --main-color: rgb(248, 108, 43);
    --dark-color: rgb(100, 100, 100);
    --background: rgba(244,241,234,0.5);
    --main-font: 'Montserrat', sans-serif;
}

/* Resets */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

pre {
    font-family: "courier new", courier, monospace;
    font-size: 20px;
}

/* Utilities
------------------------------------------------------ */

.highlighted {
    border-bottom: 3px solid var(--main-color);
    font-weight: bold;
    color: var(--main-color);
}

.thin {
    font-weight: 100;
}


/* Layout
 ------------------------------------------*/
.main-header{
    color: var(--dark-color);
    height: 130px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);

}

    .main-header__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: inherit;
        font-size: 1.25rem;
    }

    .main-header__title {
        display: block;
        margin-bottom: 0;
    }

    .main-header__tagline {
        display: block;
        margin-top: 0;
    }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%; 
    position: relative;
    padding: 2rem;
    margin-top: auto;
}


/* Home page
-----------------------------------------------*/

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 6rem;
}

.instructions__url {
    font-size: 2rem;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

    input[type='text'] {
        height: 55px;
        width: 400px;
        margin-right: 0.5rem;
        padding: 1rem;
        font-size: 20pt;
        border-radius: 15px;
        border: 2px solid var(--main-color);
    }

    input[type='text']::placeholder {
        opacity: 0.3;
    }

.btn {
    background-color: transparent;
    color: var(--dark-color);
    border: none;
    cursor: pointer;
}

    .btn svg {
        stroke: var(--dark-color);
    }
    .btn svg:hover  {
        stroke: var(--main-color);
    }

    .btn--submit > * {
        background-color: none;
        width: 40px;
        height: 40px;
    }

/* Individual book page 
----------------------------------------------*/
.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin: 1rem 0.75rem;
    padding: 2rem 0rem;
    background-color: rgb(230, 230, 230);
}

    .book__info {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .book__description {
        width: 45%;
    }

.i-star > svg {
    margin-top: 10px;
    width: 0.9rem;
    height: 0.9rem;
}

.options {
    display: flex;
    height: 80px;
    justify-content: center; 
    align-items: center;   
}

    .options > a {
        display: inline;
        margin: 0 2rem;
        text-decoration: none;
        color: var(--main-color);
    }

    .options > a:hover {
        border-bottom: 3px solid var(--main-color);
    }

.i-outside {
    height: 1rem;
    width: 1rem;
    stroke: var(--main-color)
}


/* Error page
----------------------------------------------*/
.error-message {
    width: 400px;
    margin: 8rem auto;
    font-size: 20pt;
}